body {
  margin-top: 80px;
}
.info {
  padding-top: 10px;
}
.title {
  margin-left: 30px;
  font-size: 50px;
  background: -webkit-linear-gradient(#1e130c, #9a8478);
  color: transparent;
  -webkit-background-clip: text;
}
.info__sections {
  margin-bottom: 18px;
}
.info__list {
  list-style: none;
}
.info__icon {
  font-size: 25px;
  margin-right: 20px;
}

.info__title {
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 5px;
}

.info__setting {
  margin-bottom: 30px;
  padding: 10px;
}
.title_edu-column {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #9e9b9b;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.no_border_columns {
  border-top: 1.5px solid #9e9b9b;
}
.title_edu-column a {
  color: #4d4d4d;
}
.title_edu-column i {
  color: #9e9b9b;
  font-size: 15px;
}
.title_edu_content {
  font-style: italic;
  font-size: 12px;
}

.title_edu-column p {
  padding: 0px;
  margin: 0px;
}
.title_edu {
  padding-bottom: 15px;
  font-size: 18px;
  color:#413f3f;
}
.title_major_list {
  font-weight: 400;
}
.title_major {
  padding: 5px;
  font-weight: 700;
  color:#413f3f;
}

.title_major_contents {
  display: flex;
  justify-content: space-between;
}
.title_major_content {
  font-size: 15px;
  padding-bottom: 5px;
}
.title_LIS_CS {
  padding: 15px;
}
.scholarships {
  font-size: 11px;
  font-style: oblique;
}
.w_experience {
  padding-bottom: 15px;

}
.title_major_content{
  text-transform: capitalize;

}
.link{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  margin: 0px;
}
.link2{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1.5px solid #9e9b9b;
}
.title_plist{
  display: flex;
}


.contact_text {
	box-shadow:inset -50px 0px 7px -3px rgb(238, 213, 213);
	background-color:#f7c5c0;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#706e6e;
	font-size:18px;
  padding:12px 35px;
  border:0px;
  font-weight: 700;

}
.contact_text:hover {
	background-color:#f3aaa4;
}
.contact_text:active {
	position:relative;
	top:-1px;
}
