body {
  margin-top: 80px;
}
.title {
  margin-left: 30px;
  font-size: 50px;
}
.info__sections {
  border-top: 10px solid #9e9b9b;
  padding-top: 30px;
  margin-bottom: 18px;
}
.info__list {
  list-style: none;
}
.info__icon {
  font-size: 20px;
  margin-right: 20px;
}

.info__title {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 5px;
}

.info__setting {
  margin-bottom: 30px;
}

.title_edu-column {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #9e9b9b;
  padding-top: 10px;
  margin-bottom: 5px;
}
.title_edu-column i {
  color: #9e9b9b;
  font-size: 15px;
}
.title_edu_content {
  font-style: italic;
  font-size: 12px;
}

.title_edu-column p {
  padding: 0px;
  margin: 0px;
}
