.color_btn2 {
  display: block;
  font-size: 30px;
  padding-right: 10px;
  color: rgb(103, 192, 221);
}

.color_btn {
  display: block;
  font-size: 30px;
  padding-right: 10px;
  color: #e9b1b1;
}

.home__btn i {
  font-size: 20px;
  padding: 2px 2px;
  color: #e9b1b1;
}

.home__btn2 i {
  font-size: 20px;
  padding: 2px 2px;
  color: rgb(115, 196, 223);
}

@keyframes scaleAndRotateSquare {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(2turn);
  }
  100% {
    transform: none;
  }
}

.color_btn:hover {
  color: rgb(115, 196, 223);
  animation: 5s scaleAndRotateSquare ease-in-out;
}
.color_btn2:hover {
  color: #e9b1b1;
  animation: 5s scaleAndRotateSquare ease-in-out;
}
