@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,600|Noticia+Text:400,700&display=swap");
@import "home.css";
@import "header.css";
@import "btn.css";
@import "bigscreen.css";
@import "contact.css";
@import "about.css";
@import "school.css";
@import "email.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #eae5e5;
  padding: 10px 20px;
  color: #4d4d4d;
  font-family: "Noticia Text", serif;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.info {
  animation: fadeIn 0.3s ease-in-out;
}
